* {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}



/*NAVBAR*/

a {
    color: black;
}

a:focus {
    font-weight: bold;
}

#navbarNavDropdown i {
    color: #775C51;
    font-size: 20px;
}
#navbarNavDropdown span{
    display:none;
}

#navbarNavDropdown i:hover {
    background-color: #775C51;
    color: white;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 5%;
    display: flex;
}

#rejaynav {
    top: 0;
    position: sticky;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    z-index: 100;
}


/* main */

main {
    width: 100%;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    padding: 10% 0 15% 0;
   
}

.home {
    display: flex;
    width: 80%;
    height: fit-content;
   
}

.imgcontainer{
    padding: 2% 2% 2% 2%;
    width: 50%; 
    display: flex;
    justify-content: center;
    align-content: center;
}

.homeimg {
    width: 400px;
    height:auto;
    
}

.detailscontainer {
    width: 50%;
    padding: 2% 2% 2% 2%;
    display: grid;
    align-content: center;
}

.hello {
    color:#775C51;
    font-weight: 900;
    font-size: 70px;
}

.myname {
    color: black;
    font-weight: 700;
    font-size: 25px;
}

.textanimation{
    display:flex;
    margin-bottom: 7%;
}
.word0 {
    color: black;
    font-weight: 200;
    font-size: 25px;
}
.word {
    margin-left: 4px;
    color: #775C51;
    font-weight: 200;
    font-size: 25px;
}

.socmedcontainer{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.socmedcontainer i{
    font-size: 40px;
    color: #775C51;
    margin-right: 20px;
}


/* Second */

.second {
    padding: 10% 0 15% 0;
    width: 100%;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
}

.about {
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
   
}
.labelcontainer {
    width: 100%;
}

.labelcontainer h1{
    text-align: center;
    font-weight: 900;
    color: #775C51;
}

.labelcontainer p{
    text-align: center;
    font-weight: 200;
    color: black;
    font-size: 25px;
}

.aboutcontent {
    width: 100%;
    display: flex;
    column-gap: 30px;
    margin-top: 30px;
}

.aboutcontent .info{
    height: 50vh;
    width: 100%;
   
}
.aboutcontent .percentage{
    height: 50vh;
    width: 100%;
}

.abouttitle {
    font-weight: 900;
    color: black;
    font-size: 20px;
    
}

.abouttitle1 {
    font-weight: 200;
    color: black;
    font-size: 20px;
    
}

.box{
    width: 100%;
    display: flex;
    column-gap: 10px;
}

.firstbox {
    border: solid 1px blue;
    width: 100%;
    display: grid;
}

.secondbox {
    border: solid 1px yellow;
    width: 100%;
    display: grid;
}

.firstdetail,
.seconddetail,
.thirddetail,
.fourthdetail {
    display: flex;
    width:100%;
    border: solid 1px red;
}

.box i {
    color: #775C51;
}





/* Query if the screen is minimize */

@media only screen and (max-width: 1000px) {
    .home {
        display: grid;
        width: 100%;
        justify-content: center;
        align-content: center;
        padding: 5% 2% 5% 5%;
    }
    .imgcontainer{
        display: grid;
        width: 100%;
        justify-content: center;
    }
    .homeimg {
        width: 100%;
        height:auto;
    }

    .detailscontainer {
        width: 100%;
        display: grid;
        align-content: center;
    }

    .about {
        padding: 5% 2% 5% 5%;
    }

    .aboutcontent {
        width: 100%;
        display: grid;
        column-gap: 0px;
        margin-top: 20px;
        
    }
    .labelcontainer h1{
        text-align: start;
    }
    .labelcontainer p{
        text-align: start;
    }
    .box{
        width: 100%;
        display: grid;
        column-gap: 0px;
    }

    .col col-lg-2 {
        background-color: #775C51;
    }
    
   
}

/* Query if the screen is maximum */

@media only screen and (min-width:1000px) {
    #navbarNavDropdown {
        display: flex;
        justify-content: flex-end;
    }
}